/* *, body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

.btn{
  border: 2px solid #fff;
  color: #fff;
}

.btn:hover{
  background-color: #c7c2ec;
  color: #000;
}

a{
  text-decoration: none;
}

.option-button {
 margin: 5px;
 width: 15rem
}

 .score-card {
 margin-top: 20px;
 padding: 20px;
}
