body{
  font-family: "Open Sans", sans-serif;
  background: url('https://github.com/fidellabz/QuizApp/blob/main/assets/img/background.jpg');
}


a{
  text-decoration: none;
}

.img-fluid{
  max-width: 70%
}

.option-button {
    margin: 5px;
    width: 16rem
}

.score-card {
    margin-top: 20px;
    padding: 20px;
}
